<!doctype html>
<html><!-- InstanceBegin template="/Templates/web.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="Template1.css">
</head>

<body>
 <header>
      	<img src="HINH/banner1.jpg"
      </header>
            
      <nav>
      	
        	<ul>
            	<li><a href="trangchu.html">TRANG CHỦ</a></li>
                <li><a href="gioithieuweb.html">GIỚI THIỆU</a></li>
                <li><a href="tour.html">CÁC TOUR</a></li>
                <li><a href="khuyenmaiweb.html">KHUYẾN MÃI</a></li>
                <li id="last"><a href="hotro.html">HỖ TRỢ</a></li>
            </ul>
            <div>
            	 <img src="HINH/gio%20hang.png"
                 <a href="#">ĐẶT TUOR</a>
            </div>
        
      </nav>
        
     <div>
         <article>
                <aside id="left">
                	<div>
                    	<p>DANH MỤC TOUR</p>
                    	<ul>
                        	<li><a href="chauau.html">Châu Âu</a></li>
                            <li><a href="chaumy.html">Châu Mỹ</a></li>
                            <li><a href="donga.html">Đông Á</a></li>                            
                            <li><a href="namphi.html">Nam Phi</a></li>
                            <li><a href="trongnuoc.html">Trong nước</a></li>
                        </ul>
                    </div>
                    <form>
                    	<input type="text" size="16" name="tsearch" placeholder="Nhập từ khóa cần tìm">
                        <input type="submit" value="Tìm" title="Tìm" >
                    </form>
                    <img src="HINH/Halong.jpg" width="168px">
                </aside>
                
                <section>
				<!-- InstanceBeginEditable name="Trangchu" -->
					<div id="sp1">
                	<h1>Áo một trong những kỳ quan thiên nhiên thế giới</h1>
                    <div style="float:left">
                   	 <img src="HINH/ao.jpg" style="width:100px;height:100px; padding-right:5px">
                    </div>
                    <div class="noidung">
                    	<h5>41,600,000 VND</h5>
                    	<h5 id="gia">42,600,000 VND</h5>
                    	<p>Nước Áo nằm ở Trung Âu, giáp Đức, CH Séc ở phía bắc, Slovakia, Hungaria về phía đông, Slovenia, Ý về phía nam, và Thụy Sĩ, Liechtenstein về phía tây. Đến Áo, du khách có thể chiêm ngưỡng rất nhiều di sản cổ xưa từ thời đế chế La Mã. </p>
                    </div>
                </div>
                <div id="sp1">
                	<h1>Vi vu đến xứ sở mì Italy</h1>
                    <div style="float:left">
                   	 <img src="HINH/y.jpg" style="width:100px;height:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>57,700,000 VND</h5>
                    	<h5 id="gia">63,000,000 VND</h5>
                    	<p>Du khách được khám phá thành phố nổi độc đáo Venice, tản bộ qua khu thành cổ Verona, ngắm nhìn cái nôi của nghệ thuật Phục Hưng Florence và trải nghiệm một ngày đáng nhớ tại Thủ đô Vĩnh Hằng Rome, Đấu trường Colosseum cũng như thành phố linh thiêng Vatican.</p>
                    </div>
                </div>
                <div id="sp1">
                	<h1>Thành phố lãng mạn và những dãy núi ở Đức</h1>
                    <div style="float:left">
                   	 <img src="HINH/los.jpg" style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>71,050,000 VND</h5>
                    	<h5 id="gia">82,500,000 VND</h5>
                    	<p>Du khách chắc chắn sẽ mê mẩn với khu phố cổ Praha, thích thú khi tận hưởng khung cảnh ở Bratislava hay dòng sông Danube thơ mộng. Được ngắm nhìn cảnh đồi núi hùng vĩ ở Black Forest, Đức và vùng núi tuyết Titlis, dãy An Pơ.</p>
                    </div>
                </div>
                <div id="sp1">
                	<h1>Pháp mùa thu lá đỏ hấp dẫn nhất Châu Âu</h1>
                    <div style="float:left">
                   	 <img src="HINH/PHAP.png" style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>51,500,000 VND</h5>
                    	<h5 id="gia">62,000,000 VND</h5>
                    	<p>Điểm nổi bật :</p>
                        <p>Các Tour giá trọn gói du lịch Nhật Bản 5 ngày 4 đêm, 6 ngày 5 đêm khởi hành từ Hà Nội và Tp HCM sẽ đưa quý khách đến với các địa nổi tiếng như: Paris. Du khách chắc chắn sẽ mê mẩn với khu phố cổ Praha.</p>
                        
                    </div>
                </div>
                
					<!-- InstanceEndEditable -->
				
				
                	
                </section>
                
                <aside id="right">
                	<div id="taikhoan">
                	<p> ĐĂNG NHẬP</p>
                        <form action="#" name="dangnhap" method="post">
                            <p>Tên đăng nhập</p>
                            <input type="text" name="dangnhap">
                            <p>Mật khẩu</p>
                            <input type="password" name="matkhau">
                            <br>
                            <input type="submit" value="Đăng nhập">
                        </form>
                  	</div>
                    <div id="spmoi">
                       		<p>TOUR MỚI</p>
                            <marquee direction="up" scrollamount="3" scrolldelay="100" onMouseMove="stop()" onMouseOut="start()">
                            	<div>
                                	<img src="HINH/PHAP.png">
                                    <p>Tận hưởng không khí Châu Âu Pháp </p>
                                    <h1>50,000.000 VND</p>
                                    
                                </div>
                                <div>
                                	<img src="HINH/MY.png">
                                    <p>Hè ở Châu Mỹ</p>
                                    <h1>45,700,000 VND</p>
                                </div>
                                <div>
                                	<img src="HINH/SAPA.png">
                                    <p>Sống cung thiên nhiên Sa Pa</p>
                                    <h1>21,000,000 VND</p>
                                </div>
                            </marquee>
                    </div>
                </aside>
                
         </article>
     </div>
     
     <footer>
     	<div id="h1">
        	<img src="HINH/trai.gif">
        </div>
       
     	<div class="noidungfooter">
        	
        	Trang web được xây dựng bởi Trần Công Hậu
        </div>
        
        <div id="h2">
        	<img src="HINH/phai.gif">
        </div>
     </footer>
</body>
<!-- InstanceEnd --></html>
