<!doctype html>
<html><!-- InstanceBegin template="/Templates/web.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="Template1.css">
</head>

<body>
 <header>
      	<img src="HINH/banner1.jpg"
      </header>
            
      <nav>
      	
        	<ul>
            	<li><a href="trangchu.html">TRANG CHỦ</a></li>
                <li><a href="gioithieuweb.html">GIỚI THIỆU</a></li>
                <li><a href="tour.html">CÁC TOUR</a></li>
                <li><a href="khuyenmaiweb.html">KHUYẾN MÃI</a></li>
                <li id="last"><a href="hotro.html">HỖ TRỢ</a></li>
            </ul>
            <div>
            	 <img src="HINH/gio%20hang.png"
                 <a href="#">ĐẶT TUOR</a>
            </div>
        
      </nav>
        
     <div>
         <article>
                <aside id="left">
                	<div>
                    	<p>DANH MỤC TOUR</p>
                    	<ul>
                        	<li><a href="chauau.html">Châu Âu</a></li>
                            <li><a href="chaumy.html">Châu Mỹ</a></li>
                            <li><a href="donga.html">Đông Á</a></li>                            
                            <li><a href="namphi.html">Nam Phi</a></li>
                            <li><a href="trongnuoc.html">Trong nước</a></li>
                        </ul>
                    </div>
                    <form>
                    	<input type="text" size="16" name="tsearch" placeholder="Nhập từ khóa cần tìm">
                        <input type="submit" value="Tìm" title="Tìm" >
                    </form>
                    <img src="HINH/Halong.jpg" width="168px">
                </aside>
                
                <section>
				<!-- InstanceBeginEditable name="Trangchu" --> 
					<!-- InstanceEndEditable -->
				
				
                	
                </section>
                
                <aside id="right">
                	<div id="taikhoan">
                	<p> ĐĂNG NHẬP</p>
                        <form action="#" name="dangnhap" method="post">
                            <p>Tên đăng nhập</p>
                            <input type="text" name="dangnhap">
                            <p>Mật khẩu</p>
                            <input type="password" name="matkhau">
                            <br>
                            <input type="submit" value="Đăng nhập">
                        </form>
                  	</div>
                    <div id="spmoi">
                       		<p>TOUR MỚI</p>
                            <marquee direction="up" scrollamount="3" scrolldelay="100" onMouseMove="stop()" onMouseOut="start()">
                            	<div>
                                	<img src="HINH/PHAP.png">
                                    <p>Tận hưởng không khí Châu Âu Pháp </p>
                                    <h1>50,000.000 VND</p>
                                    
                                </div>
                                <div>
                                	<img src="HINH/MY.png">
                                    <p>Hè ở Châu Mỹ</p>
                                    <h1>45,700,000 VND</p>
                                </div>
                                <div>
                                	<img src="HINH/SAPA.png">
                                    <p>Sống cung thiên nhiên Sa Pa</p>
                                    <h1>21,000,000 VND</p>
                                </div>
                            </marquee>
                    </div>
                </aside>
                
         </article>
     </div>
     
     <footer>
     	<div id="h1">
        	<img src="HINH/trai.gif">
        </div>
       
     	<div class="noidungfooter">
        	
        	Trang web được xây dựng bởi Trần Công Hậu
        </div>
        
        <div id="h2">
        	<img src="HINH/phai.gif">
        </div>
     </footer>
</body>
<!-- InstanceEnd --></html>
