<!doctype html>
<html><!-- InstanceBegin template="/Templates/web.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="Template1.css">
</head>

<body>
 <header>
      	<img src="HINH/banner1.jpg"
      </header>
            
      <nav>
      	
        	<ul>
            	<li><a href="trangchu.html">TRANG CHỦ</a></li>
                <li><a href="gioithieuweb.html">GIỚI THIỆU</a></li>
                <li><a href="tour.html">CÁC TOUR</a></li>
                <li><a href="khuyenmaiweb.html">KHUYẾN MÃI</a></li>
                <li id="last"><a href="hotro.html">HỖ TRỢ</a></li>
            </ul>
            <div>
            	 <img src="HINH/gio%20hang.png"
                 <a href="#">ĐẶT TUOR</a>
            </div>
        
      </nav>
        
     <div>
         <article>
                <aside id="left">
                	<div>
                    	<p>DANH MỤC TOUR</p>
                    	<ul>
                        	<li><a href="chauau.html">Châu Âu</a></li>
                            <li><a href="chaumy.html">Châu Mỹ</a></li>
                            <li><a href="donga.html">Đông Á</a></li>                            
                            <li><a href="namphi.html">Nam Phi</a></li>
                            <li><a href="trongnuoc.html">Trong nước</a></li>
                        </ul>
                    </div>
                    <form>
                    	<input type="text" size="16" name="tsearch" placeholder="Nhập từ khóa cần tìm">
                        <input type="submit" value="Tìm" title="Tìm" >
                    </form>
                    <img src="HINH/Halong.jpg" width="168px">
                </aside>
                
                <section>
				<!-- InstanceBeginEditable name="Trangchu" -->
					<div align="center">
                	<h1><font size="+1" color="#CCFF33">Giới thiệu</font></h1>
                </div>
                <div class="gioithieu">
                	<p>Công Ty Du Lịch Dream Việt là một trong những công ty du lịch hàng đầu ở Việt Nam, với bề dầy kinh nghiệm qua nhiều năm hoạt động trong nghành du lịch. Chúng tôi tự hào đã cung cấp rất nhiều dịch vụ hoàn hảo cho nhiều du khách trong nước và quốc tế. </p>
                    <div style="float:right;">
                    	<img src="HINH/los anglees.jpg" style="width:170px">
                    </div>
                    <br>
                    <p>Tin vào tầm nhìn xa và rộng của mình, kết hợp với khả năng cung cấp dịch vụ chuyên nghiệp và cơ chế hoạt động linh hoạt, chúng tôi đã và đang cung cấp nhiều loại hình du lịch khác nhau và cho nhu cầu khác nhau như tour du lịch tự do, trọn gói, nghỉ ngơi, mạo hiểm, tour trăng mật, tour riêng cho gia đình, du lịch kết hợp thăm thân hoặc kết hợp làm ăn, cho nhóm nhỏ hoặc đoàn lớn.</p>
                    <br>
                    <p>Có rất nhiều lý do để du khách chọn Công Ty Du Lịch Dream Việt của chúng tôi cho kỳ nghỉ trong nước hoặc nước ngoài thậm chí chỉ đặt một dịch vụ du lịch nhỏ nhất 
</p>
                    <br>
					<div style="float:left">
                    	<img src="HINH/1.jpg" style="width:170px">
                    </div>
                    <p>Kể từ khi thành lập và trong suốt quá trình hoạt động đến ngày nay, chúng tôi đã thiết lập nhiều mối quan hệ bền vững với các đối tác, tạo ra mạng lưới cung cấp dịch vụ du lịch chuyên nghiệp ở trong nước cũng như trên trường quốc tế. Tất cả đều coi trọng chữ Tín trong kinh doanh và lợi ích cũng như sự hài lòng của khách hàng là kim chỉ nam và là sự sống còn của doanh nghiệp. </p>
                    <br>
                    <p>Mỗi tour du lịch được lên kế hoạch chi tiết cụ thể sao cho phù hợp với từng yêu cầu của khách hàng. Từ trưởng đoàn, hướng dẫn viên, nhân viên thiết kế sản phẩm cho đến người bán tour …đều hiểu biết về vị trí địa lý, văn hóa vùng miền như một cuốn từ điển sống. Do vậy kể từ khi tiếp nhận yêu cầu của khách hàng chúng tôi biết rõ điều gì cần thiết để đưa ra lời khuyên đúng đắn và hiệu quả nhất cho khách hàng, từ việc chọn khách sạn, nhà hàng, vé thắng cảnh, ... </p>
                    <br>
                    <p>Chúng tôi cam kết sẽ thực hiện đúng, đủ và tốt hơn những gì được nêu trong bản hợp đồng giữa khách hàng và công ty. Xuyên suốt chặng đường kinh doanh, công ty chúng tôi luôn là đối tác tin cậy và quan trọng của hệ thống ngân hàng lớn ở Việt Nam, do vậy thông tin cá nhân cũng như thông tin tài chính của bạn sẽ được bảo mật cao, thủ tục thanh toán và thanh lý hợp đồng rất thuận tiện và nhanh gọn. Không chỉ vậy chúng tôi đối xử và chia sẻ cùng với du khách như những người bạn đồng hành để tránh tất cả những rủi ro do tác động ngoại cảnh làm ảnh hưởng cho cho chuyến đi. Tất cả những gì nêu trên sẽ tạo ra những kỳ nghỉ thú vị và bổ ích với sự trải nghiệm khó quên thật xứng đáng với giá trị tài chính mà bạn đưa ra cho chuyến đi.  </p>
                    <br>
                    
                     </div>
					<!-- InstanceEndEditable -->
				
				
                	
                </section>
                
                <aside id="right">
                	<div id="taikhoan">
                	<p> ĐĂNG NHẬP</p>
                        <form action="#" name="dangnhap" method="post">
                            <p>Tên đăng nhập</p>
                            <input type="text" name="dangnhap">
                            <p>Mật khẩu</p>
                            <input type="password" name="matkhau">
                            <br>
                            <input type="submit" value="Đăng nhập">
                        </form>
                  	</div>
                    <div id="spmoi">
                       		<p>TOUR MỚI</p>
                            <marquee direction="up" scrollamount="3" scrolldelay="100" onMouseMove="stop()" onMouseOut="start()">
                            	<div>
                                	<img src="HINH/PHAP.png">
                                    <p>Tận hưởng không khí Châu Âu Pháp </p>
                                    <h1>50,000.000 VND</p>
                                    
                                </div>
                                <div>
                                	<img src="HINH/MY.png">
                                    <p>Hè ở Châu Mỹ</p>
                                    <h1>45,700,000 VND</p>
                                </div>
                                <div>
                                	<img src="HINH/SAPA.png">
                                    <p>Sống cung thiên nhiên Sa Pa</p>
                                    <h1>21,000,000 VND</p>
                                </div>
                            </marquee>
                    </div>
                </aside>
                
         </article>
     </div>
     
     <footer>
     	<div id="h1">
        	<img src="HINH/trai.gif">
        </div>
       
     	<div class="noidungfooter">
        	
        	Trang web được xây dựng bởi Trần Công Hậu
        </div>
        
        <div id="h2">
        	<img src="HINH/phai.gif">
        </div>
     </footer>
</body>
<!-- InstanceEnd --></html>
