<!doctype html>
<html><!-- InstanceBegin template="/Templates/web.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link rel="stylesheet" type="text/css" href="Template1.css">
</head>

<body>
 <header>
      	<img src="HINH/banner1.jpg"
      </header>
            
      <nav>
      	
        	<ul>
            	<li><a href="trangchu.html">TRANG CHỦ</a></li>
                <li><a href="gioithieuweb.html">GIỚI THIỆU</a></li>
                <li><a href="tour.html">CÁC TOUR</a></li>
                <li><a href="khuyenmaiweb.html">KHUYẾN MÃI</a></li>
                <li id="last"><a href="hotro.html">HỖ TRỢ</a></li>
            </ul>
            <div>
            	 <img src="HINH/gio%20hang.png"
                 <a href="#">ĐẶT TUOR</a>
            </div>
        
      </nav>
        
     <div>
         <article>
                <aside id="left">
                	<div>
                    	<p>DANH MỤC TOUR</p>
                    	<ul>
                        	<li><a href="chauau.html">Châu Âu</a></li>
                            <li><a href="chaumy.html">Châu Mỹ</a></li>
                            <li><a href="donga.html">Đông Á</a></li>                            
                            <li><a href="namphi.html">Nam Phi</a></li>
                            <li><a href="trongnuoc.html">Trong nước</a></li>
                        </ul>
                    </div>
                    <form>
                    	<input type="text" size="16" name="tsearch" placeholder="Nhập từ khóa cần tìm">
                        <input type="submit" value="Tìm" title="Tìm" >
                    </form>
                    <img src="HINH/Halong.jpg" width="168px">
                </aside>
                
                <section>
				<!-- InstanceBeginEditable name="Trangchu" -->
					<div id="sp1">
                	<h1>Vịnh Hạ Long là một trong những kỳ quan thiên nhiên thế giới</h1>
                    <div style="float:left">
                   	 <img src="HINH/Halong.jpg" style="width:100px; padding-right:5px">
                    </div>
                    <div class="noidung">
                    	<h5>11,600,000 VND</h5>
                    	<h5 id="gia">12,600,000 VND</h5>
                    	<p>Vịnh Hạ Long nằm ở phía Bắc Việt Nam, cách Hà Nội khoảng 170 km. Vịnh Hạ Long nổi tiếng với phong cảnh kỳ vĩ và được biết đến như một trong những di sản thế giới. Bên cạnh vẻ đẹp của địa lý, Vịnh Hạ Long cũng được đánh giá cao khi nói đến yếu tố con người. Người dân thân thiện và hiếu khách.</p>
                    </div>
                </div>
                <div id="sp1">
                	<h1>Vi vu đến xứ sở cờ hoa Mỹ- Thủ đô Washington DC</h1>
                    <div style="float:left">
                   	 <img src="HINH/MY.jpg" style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>57,700,000 VND</h5>
                    	<h5 id="gia">63,000,000 VND</h5>
                    	<p>Thủ đô Washington DC - thành phố New York - thành phố Boston (và khu vực bờ đông, đông bắc): Giờ chuẩn GMT–5. Mùa Đông chậm hơn Việt Nam 12 tiếng. Mùa Hè chậm hơn Việt Nam 13 tiếng do có đổi giờ mùa hè/mùa đông. Quy ước giờ mùa hè bắt đầu vào tháng 3, kết thúc vào tháng 1</p>
                    </div>
                </div>
                <div id="sp1">
                	<h1>Điểm đến LOS ANGELES – thành phố lớn thứ hai của Hoa Kỳ</h1>
                    <div style="float:left">
                   	 <img src="HINH/los.jpg" style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>71,050,000 VND</h5>
                    	<h5 id="gia">82,500,000 VND</h5>
                    	<p>Los Angeles có nghĩa là "thành phố của những thiên thần", là thủ phủ của kinh doanh, công nghiệp điện ảnh, thời trang xa xỉ. Mỹ là ngọn đồi Hollywood với hàng chữ trắng đầy kiêu hãnh mà từ rất xa du khách đã có thể nhìn thấy.
							Thiên đường mua sắm Châu Mỹ sẽ không làm bnaj thất vọng.</p>
                    </div>
                </div>
                <div id="sp1">
                	<h1>Nhật Bản mùa thu lá đỏ hấp dẫn nhất Châu Á</h1>
                    <div style="float:left">
                   	 <img src="HINH/NHAT.jpg" style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>51,500,000 VND</h5>
                    	<h5 id="gia">62,000,000 VND</h5>
                    	<p>Điểm nổi bật :</p>
                        <p>Các Tour giá trọn gói du lịch Nhật Bản 5 ngày 4 đêm, 6 ngày 5 đêm khởi hành từ Hà Nội và Tp HCM sẽ đưa quý khách đến với các địa nổi tiếng như: Tokyo, Núi Phú Sĩ, Nikko, Narita, Kyoto, Osaka, Nagoya… ắc nắng vàng tràn ngập không gian.</p>
                        
                    </div>
                </div>
                <div id="sp1">
                	<h1>BSeoul - Đảo Nami thiên đường của Châu Á</h1>
                    <div style="float:left">
                   	 <img src="HINH/HQ.JPG.jpg" style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>61,000,000 VND</h5>
                    	<h5 id="gia">71,500,000 VND</h5>
                    	<p>Điểm nổi bật :</p>
                        <p>Mùa đông ở “xứ sở kim chi” khiến người ta phải ra đường với “phong cách” của những chú gấu khi mà thời tiết mỗi ngày đều âm độ. Nhưng không vì thế mà bạn phải trùm chăn “ngủ đông” trong nhà để đợi mùa xuân xinh đẹp tìm đến. </p>
                    </div>
                </div>
                <div id="sp1" style="padding-bottom:17px">
                	<h1>Tuor khám phá trọn vẹn Phú Quốc Đảo ngọc</h1>
                    <div style="float:left">
                   	 <img src= "HINH/hinh.jpg"  style="width:100px; padding-right:5px">
                    </div>
                    <div>
                    	<h5>10,100,000 VND</h5>
                    	<h5 id="gia">11,600,000 VND</h5>
                    	<p></p>
                    	Đến sân bay Phú Quốc, đoàn tham quan dã ngoại khu du lịch Suối Tranh, thăm làng chài cổ Hàm Ninh tìm hiểu đời sống như dân miền biển Phú Quốc, chụp ảnh với cầu cảng Hàm Ninh, tự do mua sắm sản vật miền biển của ngư dân nơi đây
                    </div>
                </div>
					<!-- InstanceEndEditable -->
				
				
                	
                </section>
                
                <aside id="right">
                	<div id="taikhoan">
                	<p> ĐĂNG NHẬP</p>
                        <form action="#" name="dangnhap" method="post">
                            <p>Tên đăng nhập</p>
                            <input type="text" name="dangnhap">
                            <p>Mật khẩu</p>
                            <input type="password" name="matkhau">
                            <br>
                            <input type="submit" value="Đăng nhập">
                        </form>
                  	</div>
                    <div id="spmoi">
                       		<p>TOUR MỚI</p>
                            <marquee direction="up" scrollamount="3" scrolldelay="100" onMouseMove="stop()" onMouseOut="start()">
                            	<div>
                                	<img src="HINH/PHAP.png">
                                    <p>Tận hưởng không khí Châu Âu Pháp </p>
                                    <h1>50,000.000 VND</p>
                                    
                                </div>
                                <div>
                                	<img src="HINH/MY.png">
                                    <p>Hè ở Châu Mỹ</p>
                                    <h1>45,700,000 VND</p>
                                </div>
                                <div>
                                	<img src="HINH/SAPA.png">
                                    <p>Sống cung thiên nhiên Sa Pa</p>
                                    <h1>21,000,000 VND</p>
                                </div>
                            </marquee>
                    </div>
                </aside>
                
         </article>
     </div>
     
     <footer>
     	<div id="h1">
        	<img src="HINH/trai.gif">
        </div>
       
     	<div class="noidungfooter">
        	
        	Trang web được xây dựng bởi Trần Công Hậu
        </div>
        
        <div id="h2">
        	<img src="HINH/phai.gif">
        </div>
     </footer>
</body>
<!-- InstanceEnd --></html>
